<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Health Systems ADMIN</title>
<!-- config  -->
<th:block th:replace="fragment/config :: configFragment" ></th:block> 
 <th:block layout:fragment="css">
 	
 
 </th:block>

</head>
<body>
 <!-- header  -->
 <th:block th:replace="fragment/header :: headerFragment"></th:block>
 
 <!-- content  -->
 <th:block layout:fragment="content"></th:block>
 
 <th:block layout:fragment="script"></th:block>
 <!-- footer  -->
 <th:block th:replace="fragment/footer :: footerFragment"> </th:block>

</body>
</html>
