<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org"
	xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
	layout:decorator="layout/default">
<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker.css">
</th:block>
<th:block layout:fragment="script">
<script th:src="@{/js/data_table_util.js}"></script>
<script th:src="@{/js/tck.js}"></script>
	<script type="text/javascript">
		//datepicker
	   $(function() {	
		$('.datepicker').datepicker({
		    format: "yyyy-mm-dd",	//데이터 포맷 형식(yyyy : 년 mm : 월 dd : 일 )
		    autoclose : true,	//사용자가 날짜를 클릭하면 자동 캘린더가 닫히는 옵션
		    calendarWeeks : false, //캘린더 옆에 몇 주차인지 보여주는 옵션 기본값 false 보여주려면 true
		    clearBtn : false, //날짜 선택한 값 초기화 해주는 버튼 보여주는 옵션 기본값 false 보여주려면 true
		    disableTouchKeyboard : false,	//모바일에서 플러그인 작동 여부 기본값 false 가 작동 true가 작동 안함.
		    immediateUpdates: false,	//사용자가 보는 화면으로 바로바로 날짜를 변경할지 여부 기본값 :false 
		    multidate : false, //여러 날짜 선택할 수 있게 하는 옵션 기본값 :false 
		    templates : {
		    	leftArrow: '&laquo;',
		        rightArrow: '&raquo;'
		    }, //다음달 이전달로 넘어가는 화살표 모양 커스텀 마이징 
		    showWeekDays : true ,// 위에 요일 보여주는 옵션 기본값 : true
		    todayHighlight : true ,	//오늘 날짜에 하이라이팅 기능 기본값 :false 
		    language : "ko"	//달력의 언어 선택, 그에 맞는 js로 교체해줘야한다.
		    
		});//datepicker end
	});//ready end
		//Tooltip
		$('a').tooltip('hide');
		//Popover
		$('.popover-pop').popover('hide');
		//Dropdown
		$('.dropdown-toggle').dropdown();
	
		$(document).ready(function() {
			/*
			$('#cotable').dataTable({
				"pagingType": "full_numbers",
				"language": {
				    "paginate": {
				      "first": '&laquo&laquo;',
				      "previous": "&laquo;",
				      "next": '&raquo;',
				      "last": "&raquo;&raquo;"
				    }
				},
				"lengthMenu":[6],
				dom: 'Bfrtip',
				fnDrawCallback : numberformat(),
				bFilter: false,
				bInfo: false,
				bSort: false
				buttons: [
					{
						extend: 'excel'
						,text: '엑셀 다운로드'
						,filename: '질의'
						,title : null
						,className :'btn btn-sm btn-success'
					},
				]
			});
			*/
			
			$('.format-mobile').text(function() {
			    var str = $(this).text().trim();    
			    var phone = str.replace(/(^02.{0}|^01.{1}|[0-9]{3})([0-9]+)([0-9]{4})/,"$1-$2-$3");
			    $(this).text(phone);
			});

		})
	</script>
	
	<script>
		/*<![CDATA[*/
		
		var setData = [];
		/* 2020.09.09 HSH 페이지 관련 추가 */
		setData.push({ formID : "Searchfrm" ,targatID : "pageNo", val : "[[ ${param.pageNo} ]]" });
			
		$(document).ready(function() {
			
			TckJS.PageUtil.init(setData,null);
			$('input[name=state]:input[value='+'"[[ ${param.state} ]]"'+' ]').attr("checked",true);
			var dataTable_serach = function ( d ) {
			      return $.extend( {}, d,  {
					  	 "pageNo": $('#pageNo').val()
					 });
			    };

			    var dataTable_columns = [
		                { data: "name", "render": function ( data, type, row, meta ) {
	                    	return '<a href ="/admin_groupInfo?groupNo='+row.groupPkId+'">'+data+'</button>';
                			} 
		                },
		                { data: "crt_dt" },
	                	{ data: "groupPkId" , "render": function ( data, type, row, meta ) {
			                	if(row.groupState=="Y"){
			                		return '';
			                		
			                	}else{
			                		return '<button class="btn btn-sm btn-info" style="padding: 0.15rem 0.3rem;" onclick="javascript:sendAllim('+'\''+data+'\','+'\''+row.name+'\')">발송</button>';	
			                	}
                    	
                			} 
                		}
	                	
		         ];

			    
				var dataTable_order = [6, 'desc']; 
				DataTableUtil.init($('#dataTable'),"/member/ajax/usergroup" ,dataTable_serach ,  dataTable_columns,dataTable_order);
				
				
		});
		/*
		function ExcelDown(){
			$("#Searchfrm").attr("action"," ");
			$("#Searchfrm").submit();
		}
		*/
		/*]]>*/
		/*
		
		{ data: "groupPkId" , "render": function ( data, type, row, meta ) {
			                	if(row.groupState=="Y"){
			                		return '';
			                		
			                	}else{
			                		return '<button class="btn btn-sm btn-info" style="padding: 0.15rem 0.3rem;" onclick="javascript:send('+'\''+data+'\','+'\''+row.name+'\')">발송</button>';	
			                	}
	                    	
	                		} 
	                	},
		
		function send(groupId,name){
			
			
			
			if (confirm("["+name+"] 그룹을 SMS 발송 하시겠습니까?") == true){    //확인
				var data = {
						groupNo : groupId
					}	
					$.ajax({
			            type: "post",
			            url: "/ajax/send/group",
			            contentType: "application/json",
			            data: JSON.stringify(data),
			            success: function (result) {
							if(result.code == "0001"){
								alert(result.msg);
								location.reload();
								
							}else{
								alert(result.msg);
							}
			            },
			            error: function (xhr, textStatus, errorThrown) {

			            	
			            }
			        }).done(function () {

			        });
			    
			}else{ 

			    return;

			}
		}*/
		function sendAllim(groupId,name){
			
			
			
			if (confirm("["+name+"] 그룹을 알림톡 발송 하시겠습니까?") == true){    //확인
				var data = {
						groupNo : groupId
					}	
					$.ajax({
			            type: "post",
			            url: "/ajax/alimtalk/send/group",
			            contentType: "application/json",
			            data: JSON.stringify(data),
			            success: function (result) {
							if(result.code == "0001"){
								alert(result.msg);
								location.reload();
								
							}else{
								alert(result.msg);
							}
			            },
			            error: function (xhr, textStatus, errorThrown) {

			            	
			            }
			        }).done(function () {

			        });
			    
			}else{ 

			    return;

			}
		}
		
	</script>
	
	
	
</th:block>
<body>
	<th:block layout:fragment="content">
	<div class="dashboard-wrapper">
        <!-- 화면구성 -->
        <nav aria-label="breadcrumb">
					  <ol class="breadcrumb">
					    <li class="breadcrumb-item"><a href="/admin_home">홈</a></li>
					    <li class="breadcrumb-item active"><a href="/admin_usergroup">대상 관리</a></li>
					    <li class="breadcrumb-item"><a href="#"></a></li>
					  </ol>
					</nav>
        <div class="card mb-3">
            <!-- 검색 결과 -->
            <form name="Searchfrm" id="Searchfrm" method="GET">
            	<input type="hidden" id="pageNo" name="pageNo"/>
            </form>
            <div class="widget">
	            <div class="widget-body" style="text-align:right">
	               <button class="btn btn-sm btn-success" onclick='javascript:location.href="/admin_targetRegister"'>그룹 생성</button>
	            </div>
 	        </div>
            <div id="dt_example" class="example_alt_pagination">
                <table style="font-size:12px;"class="table table-condensed table-striped table-hover table-bordered pull-left" id="dataTable">
                    <colgroup>
                        <col />
                        <col style="width:10%">
                        <col style="width:10%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>그룹 명</th>
                        <th>생성일</th>
                        <th>알림톡 발송</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="clearfix">
                </div>
            </div>
        </div>
		
		
	</th:block>
</body>
</html>