<th:block th:fragment="headerFragment">
	<header>
        <div class="container">
            <ul class="nav nav-tabs">
                <li>
                    <a href="https://www.philips.co.kr/" target="_blank">
                        <img src="../img/logo.png" alt="필립스">
                    </a>
                </li>
                <li class="active"><a href="#CO_AGREE" data-toggle="tab" data-load="true">CO 동의서</a></li>
                <li><a href="#CO_INSTALL" data-toggle="tab" data-load="true">CO 설치요청서</a></li>
                <li><a href="#PRESCRIPTION" data-toggle="tab" data-load="true">처방전등록</a></li>
                <li><a href="#PRIVATE" data-toggle="tab" data-load="true">개인정보 활용 동의서</a></li>
                <li><a href="#FILTER" data-toggle="tab" data-load="true">1주년 필터 요청</a></li>
            </ul>
        </div>
    </header>
</th:block>