<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.philips.healthSystems.admin.mapper.PhilipsExcelMapper">
	
	
	
	<select id="excelTargetUserSelect" parameterType="com.philips.healthSystems.admin.excelDomain.excelTargetUserSelefctParam" resultType="com.philips.healthSystems.admin.excelResponse.excelTargetUserSelectResponse">
		SELECT ttu.name as name, mobile, group_no, state, ttu.crt_dt as crt_dt, ttg.name as groupName,
			requestUrl, customer_no, url, 
			marketing1_yn, marketing2_all, marketing2_tel, marketing2_sms, 
			marketing2_dm, marketing2_email, sendYN, send_dt, agree_dt, auth_dt
			FROM tbl_health_targetUser ttu
			inner join tbl_health_targetGroup ttg
			WHERE ttu.group_no  = ttg.GroupPkId
			AND ttg.targetId = 1
			<if test="name != null and name != ''">
				AND ttu.name = #{name}
			</if>
			<if test="mobile != null and mobile != ''">
				AND mobile = #{mobile}
			</if>
			<if test="group_no != null and group_no != ''">
				AND group_no = #{group_no}
			</if>
			<if test="state != null and state != ''">
				AND state = #{state}
			</if>
			<if test="start_dt != null and start_dt != ''">
	    	<![CDATA[
	       	 	AND #{start_dt} <= DATE_FORMAT(ttu.crt_dt,'%Y-%m-%d')
	    	]]>
	    	</if>
	    	<if test="end_dt != null and end_dt != ''">
	       	 	<![CDATA[
	       	 	AND DATE_FORMAT(ttu.crt_dt,'%Y-%m-%d') <= #{end_dt}
	    	]]>
	    	</if>
	</select>

	<select id="excelTargetUserSelect2" parameterType="com.philips.healthSystems.admin.excelDomain.excelTargetUserSelefctParam" resultType="com.philips.healthSystems.admin.excelResponse.excelTargetUserSelectResponse">
		SELECT ttu.name as name, mobile, group_no, state, ttu.crt_dt as crt_dt, ttg.name as groupName,
		requestUrl, customer_no, url,
		marketing1_yn, marketing2_all, marketing2_tel, marketing2_sms,
		marketing2_dm, marketing2_email, sendYN, send_dt, agree_dt, auth_dt, ttu.hospital as hospital, ttu.dept as dept, ttu.position as position
		FROM tbl_health_targetUser ttu
		inner join tbl_health_targetGroup ttg
		WHERE ttu.group_no  = ttg.GroupPkId
		AND ttg.targetId = 2
		<if test="name != null and name != ''">
			AND ttu.name = #{name}
		</if>
		<if test="mobile != null and mobile != ''">
			AND mobile = #{mobile}
		</if>
		<if test="group_no != null and group_no != ''">
			AND group_no = #{group_no}
		</if>
		<if test="state != null and state != ''">
			AND state = #{state}
		</if>
		<if test="start_dt != null and start_dt != ''">
			<![CDATA[
	       	 	AND #{start_dt} <= DATE_FORMAT(ttu.crt_dt,'%Y-%m-%d')
	    	]]>
		</if>
		<if test="end_dt != null and end_dt != ''">
			<![CDATA[
	       	 	AND DATE_FORMAT(ttu.crt_dt,'%Y-%m-%d') <= #{end_dt}
	    	]]>
		</if>
	</select>
	
	
	<select id="excelGroupInfo" parameterType="com.philips.healthSystems.admin.excelDomain.excelGroupInfoParam" resultType="com.philips.healthSystems.admin.excelResponse.excelGroupInfoResponse">
			SELECT name,mobile,requestUrl 
			FROM tbl_health_targetUser
			WHERE group_no = #{groupNo}
	</select>
	
	
	
</mapper>
<!--
       Copyright 2015-2016 the original author or authors.
       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at
          http://www.apache.org/licenses/LICENSE-2.0
       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
-->