<!DOCTYPE html>
<html>

<head>
    <title>Health Systems 요청서</title>
    <!-- Bootstrap cdn 설정 -->
    <!--
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://sleepcare.tckdigital.com/js/jquery.min.js"></script>
    <script src="https://sleepcare.tckdigital.com//js/jquery.form.js"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://sleepcare.tckdigital.com/js/sleepcare.js"></script>
    <!-- favicon 추가 -->
    <link rel="shortcut icon" href="../img/favicon.ico">
    <!--// favicon 추가 -->
</head>

<body>
    <!--header 수정 -->
    <header>
        <!-- Tab을 구성할 영역 설정-->
        <div class="container">
            <!-- tab 영역이다. -->
            <ul class="nav nav-tabs">
                <li>
                    <a href="https://www.philips.co.kr/" target="_blank">
                        <img src="../img/logo.png" alt="필립스">
                    </a>
                </li>
                <li class="active"><a href="#CO_AGREE" data-toggle="tab" data-load="true">CO 동의서</a></li>
                <li><a href="#CO_INSTALL" data-toggle="tab" data-load="true">CO 설치요청서</a></li>
                <li><a href="#PRESCRIPTION" data-toggle="tab" data-load="true">처방전등록</a></li>
                <li><a href="#PRIVATE" data-toggle="tab" data-load="true">개인정보 활용 동의서</a></li>
                <li><a href="#FILTER" data-toggle="tab" data-load="true">1주년 필터 요청</a></li>
            </ul>
        </div>
    </header>
    <!--// header 수정 -->
    <!-- CO 동의서 -->
    <div class="tab-content">
        <div class="tab-pane fade in active" id="CO_AGREE">
            <a name="CO_AGREE"></a>
            <div class="wrap">
                <!-- title 수정 -->
                <div class="top">
                    <div class="container">
                        <h1>CO 동의서</h1>
                    </div>
                </div>
                <!-- //title 수정 -->
                <main>
                    <div class="container">
                        <form id="frmAgree">
                            <fieldset>
                                <legend class="blind">개인 정보</legend>
                                <label class="lbl01">1. 성명 <span class="fc-primary">*</span></label>
                                <div class="row clearfix">
                                    <input type="text" placeholder="이름을 입력해 주세요" id="agree_name" name="name" maxlength="20">
                                </div>
                                <label class="lbl01">2. 핸드폰 번호 <span class="fc-primary">*</span></label>
                                <div class="row">
                                    <input type="tel" id="agree_mobile" maxlength="11" oninput="mobileMax(this);" onKeyup="isNumberKey(this)" onKeydown="isNumberKey(this)" placeholder="핸드폰 번호를 입력해 주세요" name="mobile">
                                </div>
                                <label class="lbl01">3. 이메일 주소 <span class="fc-primary">*</span></label>
                                <div class="row">
                                    <input type="email" placeholder="이메일 주소를 입력해 주세요" id="agree_email" name="email">
                                </div>
                                <div class="chk-group">
                                    <div class="row">
                                        <input type="checkbox" id="agree_private_yn" name="private_yn">
                                        <label for="agree_private_yn">개인정보의 수집, 이용 및 이전에 대한 동의 (필수)</label>
                                        <a href="https://www.philips.co.kr/a-w/privacy-notice.html" target="_blank">자세한 내용</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    </div>
                                    <div class="row mt10">
                                        <input type="checkbox" id="agree_marketing_yn" name="marketing_yn">
                                        <label for="agree_marketing_yn">마케팅을 위한 개인정보 수집 및 이용 동의 (선택)</label>
                                        <a href="https://www.philips.co.kr/c-w/privacy/popup.html" target="_blank">자세한 내용</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    </div>
                                </div>
                                <button type="button" class="btn-submit" onclick="javascript:doAgree();">확인</button>
                            </fieldset>
                        </form>
                    </div>
                </main>
            </div>
        </div>
        <!--// CO 동의서 -->
        <!-- CO 설치 요청서 -->
        <div class="tab-pane fade" id="CO_INSTALL" name="CO_INSTALL">
            <div class="wrap">
                 <!-- title 수정 -->
                <div class="top">
                    <div class="container">
                        <h1>CO 설치 요청서</h1>
                    </div>
                </div>
                 <!--// title 수정 -->
                <main>
                    <div class="container">
                        <form id="frmInstall">
                            <fieldset>
                                <legend class="blind">개인 정보</legend>
                                <label class="lbl01">1. 성명 <span class="fc-primary">*</span></label>
                                <div class="row clearfix">
                                    <input type="text" id="install_name" name="name" placeholder="이름을 입력해 주세요" maxlength="20">
                                </div>
                                <label class="lbl01">2. 핸드폰 번호 <span class="fc-primary">*</span></label>
                                <div class="row">
                                    <input type="tel" id="install_mobile" maxlength="11" oninput="mobileMax(this);" onKeyup="isNumberKey(this)" onKeydown="isNumberKey(this)" placeholder="핸드폰 번호를 입력해 주세요" name="mobile">
                                </div>
                                <label class="lbl01">3. 이메일 주소 <span class="fc-primary">*</span></label>
                                <div class="row">
                                    <input type="email" id="install_email" placeholder="이메일 주소를 입력해 주세요" name="email">
                                </div>
                                <label class="lbl01">4. 주소 <span class="fc-primary">*</span></label>
                                <div class="row">
                                    <input type="text" class="type02" id="zipcode1" disabled>
                                    <input type="hidden" name="zipcode" id="zipcode">
                                    <button class="btn01" type="button" onClick="addressFind()">우편번호
                                        검색</button>
                                    <input type="text" class="mt10" id="address1" disabled>
                                    <input type="text" class="mt10" id="address2" placeholder="상세 주소를 입력해 주세요"> <input type="hidden" name="address" id="address">
                                </div>
                                <div class="chk-group">
                                    <div class="row">
                                        <input type="checkbox" id="install_private_yn" name="private_yn">
                                        <label for="install_private_yn">개인정보의 수집, 이용 및 이전에 대한 동의 (필수)</label>
                                        <a href="https://www.philips.co.kr/a-w/privacy-notice.html" target="_blank">자세한 내용</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    </div>
                                    <div class="row mt10">
                                        <input type="checkbox" id="install_marketing_yn" name="marketing_yn">
                                        <label for="install_marketing_yn">마케팅을 위한 개인정보 수집 및 이용 동의 (선택)</label>
                                        <a href="https://www.philips.co.kr/c-w/privacy/popup.html" target="_blank">자세한 내용</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    </div>
                                </div>
                                <button type="button" class="btn-submit" onclick="javascript:doInstall();">확인</button>
                            </fieldset>
                        </form>
                    </div>
                </main>
            </div>
        </div>
        <!--// CO 설치 요청서 -->
        <!-- 처방전 등록 -->
        <div class="tab-pane fade" id="PRESCRIPTION">
            <div class="wrap">
                 <!-- title 수정 -->
                <div class="top">
                    <div class="container">
                        <h1>처방전 등록</h1>
                    </div>
                </div>
                 <!--// title 수정 -->
                <main>
                    <div class="container">
                        <form id="frmPrescription" enctype="multipart/form-data" method="POST">
                            <fieldset>
                                <legend class="blind">개인 정보</legend>
                                <label class="lbl01">1. 성명 <span class="fc-primary">*</span></label>
                                <div class="row clearfix">
                                    <input type="text" placeholder="이름을 입력해 주세요" id="pre_name" name="name" maxlength="20">
                                </div>
                                <label class="lbl01">2. 핸드폰 번호 <span class="fc-primary">*</span></label>
                                <div class="row">
                                    <input type="tel" maxlength="11" oninput="mobileMax(this);" onKeyup="isNumberKey(this)" onKeydown="isNumberKey(this)" placeholder="핸드폰 번호를 입력해 주세요" name="mobile" id="pre_mobile">
                                </div>
                                <label class="lbl01">3. 병원 명 <span class="fc-primary">*</span></label>
                                <div class="row filebox clearfix">
                                    <input type="text" class="type01 f-left" placeholder="처방전 발행한 병원 명을 입력해 주세요" name="hospital" id="pre_hospital">
                                    <button type="button" onclick="popup('/hospital_pop','병원 명 선택')" class="btn01 type02 f-right">병원 명 선택</button>
                                </div>
                                <label class="lbl01">4. 처방전 <span class="fc-primary">*</span>
                                    <span class="f-small"> (첨부파일 10Mb이하 제한)</span></label>
                                <div class="row filebox clearfix">
                                    <input type="text" id="upload-info" name="file" disabled class="type01 f-left" placeholder="처방전 이미지를 첨부해 주세요">
                                    <input type="file" id="pre_file" name="realfile" onchange="this.select(); document.getElementById('filetext').value=document.selection.createRange().text.toString();" accept="application/msword,image/gif,image/jpeg,application/pdf,image/png,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/zip,.doc,.gif,.jpeg,.jpg,.pdf,.png,.xls,.xlsx,.zip">
                                    <label for="pre_file" onClick="fileCheck(this.form.realfile)" id="btn-upload" class="btn01 type02 f-right">이미지 첨부</label>
                                </div>
                                <div class="chk-group">
                                    <div class="row">
                                        <input type="checkbox" id="pre_private_yn" name="private_yn">
                                        <label for="pre_private_yn">개인정보의 수집, 이용 및 이전에 대한 동의 (필수)</label>
                                        <a href="https://www.philips.co.kr/a-w/privacy-notice.html" target="_blank">자세한 내용</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    </div>
                                    <div class="row mt10">
                                        <input type="checkbox" id="pre_marketing_yn" name="marketing_yn">
                                        <label for="pre_marketing_yn">마케팅을 위한 개인정보 수집 및 이용 동의 (선택)</label>
                                        <a href="https://www.philips.co.kr/c-w/privacy/popup.html" target="_blank">자세한 내용</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    </div>
                                </div>
                                <button type="button" class="btn-submit" onclick="javascript:doPrescription();">확인</button>
                            </fieldset>
                        </form>
                    </div>
                </main>
            </div>
        </div>
        <!--// 처방전 등록 -->
        <!-- 개인정보 활용 동의서 -->
        <div class="tab-pane fade" id="PRIVATE">
            <div class="wrap">
                 <!-- title 수정 -->
                <div class="top">
                    <div class="container">
                        <h1>개인정보 활용 동의서</h1>
                    </div>
                </div>
                <!--// title 수정 -->
                <main>
                    <div class="container">
                        <form id="frmPrivate">
                            <fieldset>
                                <legend class="blind">개인 정보</legend>
                                <label class="lbl01">1. 성명 <span class="fc-primary">*</span></label>
                                <div class="row clearfix">
                                    <input type="text" placeholder="이름을 입력해 주세요" id="private_name" name="name" maxlength="20">
                                </div>
                                <label class="lbl01">2. 핸드폰 번호 <span class="fc-primary">*</span></label>
                                <div class="row">
                                    <input type="tel" id="private_mobile" maxlength="11" oninput="mobileMax(this);" onKeyup="isNumberKey(this)" onKeydown="isNumberKey(this)" placeholder="핸드폰 번호를 입력해 주세요" name="mobile">
                                </div>
                                <label class="lbl01">3. 이메일 주소 <span class="fc-primary">*</span></label>
                                <div class="row">
                                    <input type="email" placeholder="이메일 주소를 입력해 주세요" id="private_email" name="email">
                                </div>
                                <div class="chk-group">
                                    <div class="row">
                                        <input type="checkbox" id="private_private_yn" name="private_yn">
                                        <label for="private_private_yn">개인정보의 수집, 이용 및 이전에 대한 동의 (필수)</label>
                                        <a href="https://www.philips.co.kr/a-w/privacy-notice.html" target="_blank">자세한 내용</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    </div>
                                    <div class="row mt10">
                                        <input type="checkbox" id="private_marketing_yn" name="marketing_yn">
                                        <label for="private_marketing_yn">마케팅을 위한 개인정보 수집 및 이용 동의 (선택)</label>
                                        <a href="https://www.philips.co.kr/c-w/privacy/popup.html" target="_blank">자세한 내용</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    </div>
                                </div>
                                <button type="button" class="btn-submit" onclick="javascript:doPrivate();">확인</button>
                            </fieldset>
                        </form>
                    </div>
                </main>
            </div>
        </div>
        <!--// 개인정보 활용 동의서 -->
        <!-- 1주년 필터 요청 -->
        <div class="tab-pane fade" id="FILTER">
            <div class="wrap">
                 <!-- title 수정 -->
                <div class="top">
                    <div class="container">
                        <h1>1주년 필터 요청</h1>
                    </div>
                </div>
                 <!--// title 수정 -->
                <main>
                    <div class="container">
                        <form id="filter">
                            <fieldset>
                                <legend class="blind">개인 정보</legend>
                                <label class="lbl01">1. 성명 <span class="fc-primary">*</span></label>
                                <div class="row clearfix">
                                    <input type="text" id="fil_name" name="name" placeholder="이름을 입력해 주세요" maxlength="20">
                                </div>
                                <label class="lbl01">2. 핸드폰 번호 <span class="fc-primary">*</span></label>
                                <div class="row">
                                    <input type="tel" id="fil_mobile" maxlength="11" oninput="mobileMax(this);" onKeyup="isNumberKey(this)" onKeydown="isNumberKey(this)" placeholder="핸드폰 번호를 입력해 주세요" name="mobile">
                                </div>
                                <label class="lbl01">3. 이메일 주소 <span class="fc-primary">*</span></label>
                                <div class="row">
                                    <input type="email" id="fil_email" placeholder="이메일 주소를 입력해 주세요" name="email">
                                </div>
                                <label class="lbl01">4. 주소 <span class="fc-primary">*</span></label>
                                <div class="row">
                                    <input type="text" class="type02" id="fil_zipcode1" disabled>
                                    <input type="hidden" name="zipcode" id="fil_zipcode">
                                    <button class="btn01" type="button" onClick="fil_addressFind()">우편번호
                                        검색</button>
                                    <input type="text" class="mt10" id="fil_address1" disabled>
                                    <input type="text" class="mt10" id="fil_address2" placeholder="상세 주소를 입력해 주세요">
                                    <input type="hidden" name="address" id="fil_address">
                                </div>
                                <div class="chk-group">
                                    <div class="row">
                                        <input type="checkbox" id="fil_private_yn" name="private_yn">
                                        <label for="fil_private_yn">개인정보의 수집, 이용 및 이전에 대한 동의 (필수)</label>
                                        <a href="https://www.philips.co.kr/a-w/privacy-notice.html" target="_blank">자세한 내용</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    </div>
                                    <div class="row mt10">
                                        <input type="checkbox" id="fil_marketing_yn" name="marketing_yn">
                                        <label for="fil_marketing_yn">마케팅을 위한 개인정보 수집 및 이용 동의 (선택)</label>
                                        <a href="https://www.philips.co.kr/c-w/privacy/popup.html" target="_blank">자세한 내용</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    </div>
                                </div>
                                <button type="button" class="btn-submit" onclick="javascript:doFilter();">확인</button>
                            </fieldset>
                        </form>
                    </div>
                </main>
            </div>
        </div>
        <!--// 1주년 필터 요청 -->
    </div>
    <!-- footer -->
    <footer>
        <div class="footer-top">
            <div class="container">
                <p><strong>필립스코리아&nbsp;</strong>대표이사 :&nbsp;김동희 주소 :&nbsp;서울시 중구&nbsp;소월로2길 30(남대문로 5가) 사업자등록번호&nbsp;: 106-81-02284</p>
                <p>통신판매업 신고&nbsp;:&nbsp;제&nbsp;2016-서울중구-1138 [<u><a href="http://www.ftc.go.kr/bizCommPop.do?wrkr_no=1068102284&amp;apv_perm_no" target="_blank" data-track-description="사업자정보확인" data-track-type="track-conversion" data-track-name="interaction" data-track-compid="gc11" data-is-internal="true">사업자정보확인</a></u>] 의료기기판매업 신고&nbsp;:&nbsp;제&nbsp;2998호</p>
                <p>필립스 고객센터 소비자 가전 : 080-600-6600&nbsp;슬립케어 : 080-500-0004&nbsp; 의료기기 : 080-372-7777</p>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-01 clearfix">
                    <div class="footer-sns">
                        <p>필립스 소셜 미디어</p>
                        <ul class="footer-sns-list">
                            <li>
                                <a data-track-type="track-conversion" data-track-name="follow_us" data-track-compid="gc23v2" data-track-servicename="youtube" href="http://www.youtube.com/Philips" target="_blank" title="(새 창에서 열립니다)" rel="noopener noreferrer" aria-label=""><img src="../img/ico-youtube.png" alt="YouTube 아이콘"></a>
                            </li>
                            <li>
                                <a data-track-type="track-conversion" data-track-name="follow_us" data-track-compid="gc23v2" data-track-servicename="twitter" href="https://twitter.com/Philips" target="_self" title="(같은 창에서 열립니다)" rel="" aria-label=""><img src="../img/ico-twitter.png" alt="Twitter 아이콘"> </a>
                            </li>
                            <li>
                                <a data-track-type="track-conversion" data-track-name="follow_us" data-track-compid="gc23v2" data-track-servicename="facebook" href="http://www.facebook.com/Philips.Kor/" target="_self" title="(같은 창에서 열립니다)" rel="" aria-label=""><img src="../img/ico-facebook.png" alt="Facebook 아이콘"> </a>
                            </li>
                            <li>
                                <a data-track-type="track-conversion" data-track-name="follow_us" data-track-compid="gc23v2" data-track-servicename="pinterest" href="http://www.pinterest.com/philipsglobal/" target="_blank" title="(새 창에서 열립니다)" rel="noopener noreferrer" aria-label=""><img src="../img/ico-pinterest.png" alt="Pinterest 아이콘"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="p-philips-shield"></div>
                    <div class="footer-link01">
                        <p class="p-main-footer-language"> <a href="https://www.philips.com/global/country_selector.page?&amp;_ga=2.76221010.698340457.1612766976-464485662.1612766976" data-track-type="track-ajax" data-track-pagename="country_selector:footer:한국 - 한국어" data-type="o" data-track-compid="n_05"> <span class="p-footer-country">Select country/language</span> <span class="p-footer-country-list">한국 - 한국어</span> </a> </p>
                        <div class="footer-category-box">
                            <p class="p-main-footer-category"><span>필립스 사업부 선택</span></p>
                            <div class="category-list-box">
                                <ul class="f-category-list">
                                    <li> <a href="https://www.philips.co.kr/c-m/consumer-products" target="_self" title="" data-track-type="track-ajax" data-track-pagename="country_selector:footer:select_소비자용 가전 및 조명" data-type="o" data-track-compid="n_06">소비자용 가전 및 조명</a> </li>
                                    <li> <a href="https://www.philips.co.kr/healthcare" target="_self" title="" data-track-type="track-ajax" data-track-pagename="country_selector:footer:select_헬스케어" data-type="o" data-track-compid="n_06">헬스케어</a> </li>
                                    <li> <a href="https://www.lighting.philips.co.kr/" target="_self" title="" data-track-type="track-ajax" data-track-pagename="country_selector:footer:select_조명" data-type="o" data-track-compid="n_06">조명</a> </li>
                                    <li> <a href="https://www.philips.co.kr/about/company/index.page" target="_self" title="" data-track-type="track-ajax" data-track-pagename="country_selector:footer:select_필립스 소개" data-type="o" data-track-compid="n_06">필립스 소개</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-02">
                    <ul class="p-grid">
                        <li>
                            <a href="https://www.careers.philips.com/kr/kr" target="_self" title="(같은 창에서 열립니다)" rel="" data-track-type="track-nav-content" data-track-compid="n14" data-is-internal="true" data-track-navid="채용 정보" data-track-navdest="https:::www.careers.philips.com:kr:kr" class="p-link-color">
                                <span class="p-text">채용 정보</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.philips.co.kr/c-w/support-home/support-contact-page.html" target="_self" title="(같은 창에서 열립니다)" rel="" data-track-type="track-nav-content" data-track-compid="n14" data-is-internal="false" data-track-navid="이메일 문의" data-track-navdest=":content:b2c:ko_kr:support-home:support-contact-page.html" class="p-link-color">
                                <span class="p-text">이메일 문의</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.philips.co.kr/a-w/site-owner.html" target="_self" title="(같은 창에서 열립니다)" rel="" data-track-type="track-nav-content" data-track-compid="n14" data-is-internal="false" data-track-navid="Philips" data-track-navdest=":content:corporate:ko_kr:site-owner.html" class="p-link-color">
                                <span class="p-text">Philips</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.philips.co.kr/a-w/privacy-notice.html" target="_self" title="(같은 창에서 열립니다)" rel="" data-track-type="track-nav-content" data-track-compid="n14" data-is-internal="false" data-track-navid="개인정보 처리방침" data-track-navdest=":content:corporate:ko_kr:privacy-notice.html" class="p-link-color">
                                <span class="p-text">개인정보 처리방침</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.philips.co.kr/a-w/terms-of-use.html" target="_self" title="(같은 창에서 열립니다)" rel="" data-track-type="track-nav-content" data-track-compid="n14" data-is-internal="false" data-track-navid="법적고지" data-track-navdest=":content:corporate:ko_kr:terms-of-use.html" class="p-link-color">
                                <span class="p-text">법적고지</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.philips.co.kr/a-w/cookie-notice.html" target="_self" title="(같은 창에서 열립니다)" rel="" data-track-type="track-nav-content" data-track-compid="n14" data-is-internal="false" data-track-navid="필립스 쿠키 정책" data-track-navdest=":content:corporate:ko_kr:cookie-notice.html" data-cookie-settings="" class="p-link-color" data-eddl-instance="0">
                                <span class="p-text">필립스 쿠키 정책</span>
                            </a>
                        </li>
                    </ul>
                    <p class="txt-copyright">&copy; Koninklijke Philips N.V., 2004 - 2021. 판권 소유.</p>
                </div>
            </div>
        </div>
    </footer>
    <!--// footer -->
    <div class="dimmed" id="dimmed">
        <div class="layer-pop" id="layer-pop">
            <p>작성이 완료되었습니다.</p>
            <a href="https://www.philips.co.kr/" class="btn-submit">홈으로 이동</a>
        </div>
    </div>
    <script>
        /* footer hover event 추가 */
        $(".footer-category-box").hover(
            function() {
                $(".category-list-box").show();
            },
            function() {
               $(".category-list-box").hide();
            }
        );


        $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
            $this = $(e.target);
            if (!$this.data("load")) {
                var id = $this.attr("href");
                $(id).load($this.data("url"));
                $this.data("load", true);
            }
        });
        $('a[data-toggle="tab"]').on('hide.bs.tab', function(e) {});

        document.getElementById("btn-upload").onclick = function() {
            //e.preventDefault();
            // document.getElementById("ex_file").trigger("click");

        };
        document.getElementById("pre_file").onchange = function() {
            if (document.getElementById("pre_file").value != "") {
                var fileSize = document.getElementById("pre_file").files[0].size;
                var maxSize = 10 * 1024 * 1024;
                if (fileSize > maxSize) {
                    alert("첨부파일 사이즈는 10MB 이내로 등록 가능합니다.")
                    return;
                }
            }
            if (window.FileReader) {
                var filename = $(this)[0].files[0].name;
            } else {
                var filename = $(this).val().split('/').pop().split('\\').pop();
            }
            $("#upload-info").val(filename);
        };

    </script>
</body>

</html>
